<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<body>
  <div>
    <select id="select">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <input type="text" id="text">
      <button onclick="cnt()">connect</button>
      <button onclick="btn()">send</button>
  </div>
  <div id="box"></div>
</body>
<script>
    const box = document.getElementById("box")
    const dv = document.createElement("div")
    const sock = new SockJS('http://localhost:9090/chat')
    const stomp = Stomp.over(sock);
    const v = location.href.substring(location.href.toString().indexOf("?")+1).split("&")
    const idx  = v.findIndex((item)=>{
        return item.includes('type')
    })
    const type = v[idx].split('=')
    document.getElementById('select').value = type[1]
    const cnl =type[1]
    let msg = ''

    stomp.connect({}, function(){
        stomp.subscribe(`/sub/chat/message/${cnl}`, function(chat){
            msg = chat
            dv.innerText= chat
            box.append(dv)
        })
        stomp.send(`/pub/chat/message/${cnl}`, {}, JSON.stringify({roomId: cnl, writer: "username"}))
    })
    function btn(){
        const text = document.getElementById("text").value
        stomp.send('/pub/chat/message/1', {}, JSON.stringify({roomId: "1", writer: "username", text:text}))
    }
</script>
</html>