<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<body>
  <div>
    <select id="select">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <input type="text" id="text">
      <button onclick="cnt()">connect</button>
      <button onclick="btn()">send</button>
      <button onclick="disconnect()">disconnect</button>
  </div>
  <div id="box" class="boxes"></div>
</body>
<style>
    .boxes div {
        margin-top: 5rem;
    }
</style>
<script>
    const box = document.getElementById("box")
    const sock = new SockJS('http://localhost:9090/chat')
    const stomp = Stomp.over(sock);
    const v = location.href.substring(location.href.toString().indexOf("?")+1).split("&")
    const idx  = v.findIndex((item)=>{
        return item.includes('type')
    })
    const type = v[idx].split('=')
    document.getElementById('select').value = type[1]
    const cnl =type[1]



    let container = {messageNo:1,chatRoom:{chatRoomNo: 1, uuid:cnl},user:{userNo:Math.random()*10},message:null}


    stomp.connect({}, function(){
        stomp.subscribe(`/sub/message/${cnl}`, function(chat){
            msg = chat
            let dv = document.createElement("div").innerText= chat
            box.append(dv)
        })


        // container.message = 'connect'
        // console.log("connect", container)
        // stomp.send(`/pub/connected/${cnl}`, {}, JSON.stringify(container))
    })
    function btn(){
        const text = document.getElementById("text").value
        container.message = text
        stomp.send('/pub/message/1', {}, JSON.stringify(container))
    }

    function disconnect(){
        stomp.unsubscribe(`/sub/message/${cnl}`)
        stomp.disconnect()
    }
</script>
</html>